功能说明：设置计时器。
语　　法：crontab [-u <用户名称>][配置文件] 或 crontab [-u <用户名称>][-elr]
补充说明：cron是一个常驻服务，它提供计时器的功能，让用户在特定的时间得以执行预设的指令或程序。只要用户会编辑计时器的配置文件，就可以使用计时器的功能。其配置文件格式如下：
  Minute Hour Day Month DayOFWeek Command  
参　　数： 
　-e 　编辑该用户的计时器设置。 
　-l 　列出该用户的计时器设置。 
　-r 　删除该用户的计时器设置。 
　-u<用户名称> 　指定要设定计时器的用户名称
 
 cron用来实现定时任务。cron命令不应该手工启动。cron命令在系统启动时就由一个shell脚本自动启动。启动后，cron命令会搜索/var/spool/cron/tabs目录，寻找以/etc/passwd文件中的用户名命名的文件。
 cron -l查看目前已存在的cron任务。
 新创建的 cron 任务，不会马上执行，至少要过 2 分钟后才可以，当然你可以重启 cron 来马上执行
 
 时间格式如下：
 f1 f2 f3   f4    f5 program
*   *   *    *    *
-   -   -    -    -
|   |   |    |    |
|   |   |    |    +----- 星期中星期几 (0 - 6) (星期天 为0)
|   |   |    +---------- 月份 (1 - 12) 
|   |   +--------------- 一个月中的第几天 (1 - 31)
|   +-------------------- 小时 (0 - 23)
+------------------------- 分钟 (0 - 59)
 
 
其中 f1 是表示分钟，f2 表示小时，f3 表示第几天，f4 表示月份，f5 表示一个星期中的第几天。program 表示要执行的程序。
当 f1 为 * 时表示每分钟都要执行 program，f2 为 * 时表示每小时都要执行程序
当 f1 为 a-b 时表示从第 a 分钟到第 b 分钟这段时间内要执行，f2 为 a-b 时表示从第 a 到第 b 小时都要执行
当 f1 为 */n 时表示每 n 分钟个时间间隔执行一次，f2 为 */n 表示每 n 小时个时间间隔执行一次
当 f1 为 a, b, c,... 时表示第 a, b, c,... 分钟要执行，f2 为 a, b, c,... 时表示第 a, b, c...个小时要执行

每一分钟执行一次 /bin/ls：
* * * * * /bin/ls

在 12 月内, 每天的早上 6 点到 12 点，每隔 3 个小时 0 分钟执行一次 /usr/bin/backup：
0 6-12/3 * 12 * /usr/bin/backup

每两个小时重启一次apache
0 */2 * * * /sbin/service httpd restart

每天7：50开启ssh服务
50 7 * * * /sbin/service sshd start

每天22：50关闭ssh服务
50 22 * * * /sbin/service sshd stop

每月1号和15号检查/home 磁盘
0 0 1,15 * * fsck /home

每小时的第一分执行 /home/bruce/backup这个文件
1 * * * * /home/bruce/backup

每周一至周五3点钟，在目录/home中，查找文件名为*.xxx的文件，并删除4天前的文件。
00 03 * * 1-5 find /home "*.xxx" -mtime +4 -exec rm {} \;

每月的1、11、21、31日是的6：30执行一次ls命令
30 6 */10 * * ls

当程序在你所指定的时间执行后，系统会发一封邮件给当前的用户，显示该程序执行的内容，若是你不希望收到这样的邮件，请在每一行空一格之后加上 > /dev/null 2>&1 即可
